<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.wearable.contextrecognition"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- For sending and receiving data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Check if wifi connected -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	
	<uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
	
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_audio"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="True" >
        
        <!-- Main activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity 
            android:name="ch.ethz.wearable.contextrecognition.welcomescreens.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <!-- Helper activity to close app -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.ShutdownActivity"
            android:excludeFromRecents="true"
            android:label="Exiting..."
            android:theme="@style/Theme.Transparent" />
        
		<!-- Welcome activities -->
        <activity 
            android:name="ch.ethz.wearable.contextrecognition.activities.Welcome1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity 
            android:name="ch.ethz.wearable.contextrecognition.activities.Welcome2"
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name="ch.ethz.wearable.contextrecognition.activities.Welcome3"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Context Selection activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.ContextSelection"
            android:label="@string/label_context_selection" >
        </activity>
        
        <!-- Settings activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.SettingsActivity"
            android:label="@string/label_settings" >
<!--             android:parentActivityName="ch.ethz.wearable.contextrecognition.activities.MainActivity" > -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ch.ethz.wearable.contextrecognition.activities.MainActivity" />
        </activity>
        
        <!-- Label activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.DiaryActivity"
            android:label="@string/label_diary" >
<!--             android:parentActivityName="ch.ethz.wearable.contextrecognition.activities.MainActivity" > -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ch.ethz.wearable.contextrecognition.activities.MainActivity" />
        </activity>
        
        <!-- Help activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.HelpActivity"
            android:label="@string/label_help" >
<!--             android:parentActivityName="ch.ethz.wearable.contextrecognition.activities.MainActivity" > -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ch.ethz.wearable.contextrecognition.activities.MainActivity" />
        </activity>
        
        <!-- Manage classes activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.ManageClassesActivity"
            android:label="@string/label_manage_classes" >
<!--             android:parentActivityName="ch.ethz.wearable.contextrecognition.activities.MainActivity" > -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ch.ethz.wearable.contextrecognition.activities.MainActivity" />
        </activity>   
        
        <!-- Rating activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.RatingActivity"
            android:label="@string/label_rating" >
<!--             android:parentActivityName="ch.ethz.wearable.contextrecognition.activities.MainActivity" > -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ch.ethz.wearable.contextrecognition.activities.MainActivity" />
        </activity>   
        
        <!-- Upload activity -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.UploadActivity"
            android:label="@string/label_upload" >
<!--             android:parentActivityName="ch.ethz.wearable.contextrecognition.activities.MainActivity" > -->
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ch.ethz.wearable.contextrecognition.activities.MainActivity" />
        </activity>
        
        <!-- Alert Dialog activity for the query pop-up -->
        <activity
            android:name="ch.ethz.wearable.contextrecognition.activities.QueryPopup"
            android:launchMode="singleInstance" 
            android:label="@string/query_text"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        
		<!-- AudioWorker Service -->
       	<service android:name="ch.ethz.wearable.contextrecognition.audio.AudioWorker" />
       	
       	<!-- Service to record other sensor modalities -->
       	<service android:name="ch.ethz.wearable.contextrecognition.othersensors.RecService" />
       	
       	<!-- Service to detect unusual events -->
       	<service android:name="ch.ethz.wearable.contextrecognition.utils.EventDetection" />
       	
       	
       	
       	<!-- IntentServices for communication -->
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.CheckClassFeasibility" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.IncorporateNewClass" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.IncorporateNewClassGet" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.InitModel" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.InitModelGet" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.ManageClasses" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.ManageClassesGet" />
       	<service android:name="ch.ethz.wearable.contextrecognition.communication.CompressAndSendData" />
       	
       	<!-- Register the broadcast receiver and all intent filters -->
       	<receiver android:name="ch.ethz.wearable.contextrecognition.utils.StateManager"
       	    android:enabled="true">
  			<intent-filter>
    			<action android:name="action.prediction" />
    			<action android:name="action.modelAdaptionExisting" />
    			<action android:name="action.modelAdaptionNew" />
    			<action android:name="action.modelAdaptionFinished" />
    			<action android:name="action.callContextSelection" />
    			<action android:name="action.dismissNotification" />
    			<action android:name="action.registerRecurringTasks" />
    			<action android:name="action.endOfDayTasks" />
    			<action android:name="action.persistData" />
    			<action android:name="action.maxQueryNumberChanged" />
    			<action android:name="action.requestClassNames" />
    			<action android:name="action.silencePredicted" />
    			<action android:name="action.connCheckFeasibilityReceive" />
    			<action android:name="action.connIncorporateNewClassReceive" />
    			<action android:name="action.connUpdatedModelReceive" />
    			<action android:name="action.connSendRawAudioReceive" />
    			<action android:name="action.connSendInitModelReceive" />
    			<action android:name="action.connSendInitModelFinish" />
    			<action android:name="action.callManageClasses" />		
    			<action android:name="action.connManageClassesReceive" />
    			<action android:name="action.connManageClassesFinish" />
    			
    			
  			</intent-filter>
		</receiver>
		
        
        
    </application>

</manifest>
